if categoria && categoria.videos && categoria.videos.length > 0
    - var destaque = true;
        each video in categoria.videos
            - var thumb = video.thumb ? video.thumb : "https://image.shutterstock.com/z/stock-photo-beautiful-joyful-african-american-teenager-girl-holding-smart-phone-photo-camera-with-hands-taking-662752159.jpg"
            - var title = video.titulo ? video.titulo : "Título do vídeo"
            - var description = video.descricao ? video.descricao : "Descrição do vídeo"
            - var author = video.autor ? video.autor : "Autor do vídeo"

            if destaque
                div(id=categoria.nome).destaque.col-12
                    .video.row(onclick="visualizarVideo("+video.id+")")
                        .preview.col-6(style="background-image: url("+thumb+")")
                            i.fa.fa-play
                        .info.col-6
                            .autor=author
                            .titulo
                                b=title
                            .descr=description
                - destaque = false                        
            else
                .video.col-4(onclick="visualizarVideo("+video.id+")")
                    .row(onclick="visualizarVideo("+video.id+")")
                        .preview.col-6(style="background-image: url("+thumb+")")
                            i.fa.fa-play
                        .info.col-6
                            .autor=author
                            .titulo
                                b=title.substring(0,30)
                            .descr=description.substring(0,80)