extends layout.pug
block content
    nav#header.navbar.navbar-inverse
        .container
            .navbar-header    
                .row 
                    a.navbar-brand(href='#') Mapa Colaborativo
                    img(src="/images/logo-tce.png")
                .row
                    #local.col-md-4.col-xs-6 #{escola.nome} 
                        span="|"+escola.cidade
                    p.col-md-4.col-xs-6 Painel de Gerenciamento
                    #user.col-md-4.col-xs-12
                        span=user.nome
                        a Editar 
                        span="|"
                        a Sair
                        img(src=user.foto)
    main.container
        .row
            .col-md-4#left
                p="Lorem ipsum"
            .col-md-8#right
                p="Lorem ipsum"
    footer
        p © Company 2014