div.d-flex.flex-column.align-content-stretch
                div#close-cidade.fas.fa-times(onclick="toggleGaleria(false);")
                p.section Cidade
                h2#nome-municipio=cidade.nome
                p.section Estatísticas
                .row.text-white.text-center
                    .col-4 
                        p="Colaboradores"
                        p#estatisticas-colaboradores=colaboradores
                    .col-4 
                        p="Vídeos"
                        p#estatisticas-videos=videos.length   
                    .col-4 
                        p="Escolas"
                        p#estatisticas-escolas=escolas
                p.section Vídeos  recentes
                #videos
                    if videos
                        each video in videos
                            - var thumb = video.thumb ? video.thumb : "https://image.shutterstock.com/z/stock-photo-beautiful-joyful-african-american-teenager-girl-holding-smart-phone-photo-camera-with-hands-taking-662752159.jpg"
                            - var title = video.titulo ? video.titulo.substring(0,30) + "..."  : "Título do vídeo"
                            - var description = video.descricao ? video.descricao.substring(0,100) + " ..." : "Descrição do vídeo"
                            - var author = video.autor ? video.autor : "Autor do vídeo"

                            .video(onclick="visualizarVideo("+video.id+")")
                                .row
                                    .preview.col-6(style="background-image: url("+thumb+")")
                                        i.fa.fa-play
                                    .info.col-6
                                        .autor=author
                                        .titulo
                                            b=title
                                        .short=description
                a#ver-galeria.btn.btn-danger(href="galeria/" + cidade.codigo + "/todas/") 
                    i.fas.fa-play
                    span VER GALERIA