extends layout.pug
block header 
    header#mapa-header
        include header
block content
    main#galeria.d-flex.flex-column
        nav.navbar.navbar-expand-lg#galeria-navbar
            a#voltar-galeria.col(href="/" + (museu ? "museu" : ""))
                i.fas.fa-arrow-left
            #cidade.col
                p=cidade.nome
            .col#categorias-wrapper
                if categorias            
                    ul.navbar-nav#categorias
                        each categoria, index in categorias
                            li(data-slide-to=index data-target="#categoria" data-categoria=categoria.descricao class= categoria.selected ? "nav-item selected" : "nav-item")
                                a.nav-link=categoria.descricao
            if !museu                    
                form.col#busca-galeria(method="POST" action="/galeria/" + cidade.codigo + "/" + (escola.id ? escola.id : "todas")) 
                    .row
                        .col-4
                            .input-group
                                if redes
                                    select#rede_id(type='text' name='rede_id' required).form-control.form-control-sm
                                        option#oxe(value="" selected)="Rede"
                                            each r in redes
                                                option(value=r.id selected=r.id ==rede.id) #{r.descricao}
                                    .input-group-append
                                        i.input-group-text.fas.fa-search
                        .col-4
                            .input-group
                                input#select-escola(type='text' name='escola' placeholder="Escola" value=escola.nome).form-control.form-control-sm
                                .input-group-append
                                    i.input-group-text.fas.fa-search
                        .col-4
                            .input-group
                                input.form-control.form-control-sm#pesquisar(name="termo" placeholder="Pesquisar" value=busca?busca:"")
                                .input-group-append
                                    i.input-group-text.fas.fa-search 
                                input(type="hidden" name="cidade_id" value=cidade.codigo)
                                input(type="submit" style="display:none")   
        #categoria.carousel.slide(data-ride='carousel' data-interval="false")       
            .carousel-inner
                each categoria, index in categorias
                    .carousel-item
                        .row
                            - var destaque = true
                            if videos
                                if videos[index].length 
                                    each video in videos[index]
                                        - var classe = destaque ? "video destaque col-12" : "video col-4";
                                        - var title = destaque ? video.titulo : video.titulo.substring(0,30);
                                        - var description =  destaque ? video.descricao : video.descricao.substring(0,80)
                                        div(class=classe)
                                            .row(onclick="visualizarVideo"+(museu ? "Museu" : "")+"("+video.id+")")
                                                .preview.col-6(style="background-image: url("+video.thumb+")")
                                                    i.fa.fa-play
                                                .info.col-6
                                                    .autor=video.author
                                                    .titulo
                                                        b=title
                                                    .descr=description
                                        - destaque = false 
                                    .clearfix
                                else
                                    .container
                                        p.no-video="Nenhum vídeo encontrado para esta categoria" 

            <a class="carousel-control-prev" href="#categoria" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#categoria" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>                           
block modal
    #visualizar-video.modal.fade(tabindex='-1', role='dialog')
    script(type='text/javascript', src='/javascripts/galeria.js')