extends layout.pug
block content
    main#galeria.d-flex.flex-column.align-content-stretch
        header#mapa-header
            nav.navbar.navbar-expand-lg.navbar-dark.navbar-fixed-top
                .container
                    a.navbar-brand.col-4(href='#page-top') MAPA COLABORATIVO CIDADÃO
                    #logo.navbar-brand.col-4
                        img(src="/images/logo_tce.png")
                        span Tribunal de Contas do <br/> Estado da Paraíba
                    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar', aria-label='Toggle navigation')
                        span.sr-only Toggle navigation
                        span.navbar-toggler-icon
                    #navbar.col-4.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto
                            li.nav-item
                                a.nav-link Como participar
                            li.nav-item#login
                                if user
                                    a.nav-link(href="/dashboard") 
                                        span Gerenciador
                                else
                                    a.nav-link(href='/auth') Login
                            li.nav-item
                                a.nav-link Sobre
        nav.navbar.navbar-expand-lg#galeria-navbar 
            a#voltar-galeria(href="/")
                i.fas.fa-arrow-left
            #miniatura
                p=cidade.nome
                script.
                    $("##{cidade.codigo}").attr("class", "selected")
            div.col
                form(method="POST" action="/galeria/" + cidade.codigo + "/" + (escola.id ? escola.id : "todas") + "/" + (categoria.id ? categoria.id : "")) 
                    .row#inputs-galeria
                        .col-3
                            input#select-escola(type='text' name='escola' placeholder="Pesquisar escolas" value=escola.nome).form-control.form-control-sm
                        .col-3
                            .row
                                .input-group
                                    input.form-control.form-control-sm#pesquisar(name="termo" placeholder="Pesquisar" value=busca?busca:"")
                                    input(type="hidden" name="cidade_id" value=cidade.codigo)
                                    .input-group-append
                                        i.input-group-text.fas.fa-search 
                                input(type="submit" style="display:none")    
                    .row
                        .col
                            if categorias            
                                ul.navbar-nav#categorias
                                    li(data-categoria="destaques" data-selected=categoria.destaque ? 1 : 0 class= categoria.destaque ? "nav-item selected" : "nav-item")
                                        a.nav-link(onclick="carrossel('destaques')")="destaques"
                                    each cat in categorias
                                        li(class= cat.selected ? "nav-item selected" : "nav-item")
                                            a.nav-link(href=cat.descricao)=cat.descricao
                        .col#col-limpar-pesquisa

                            if busca
                                a#limpar-pesquisa.btn.btn-danger(href="") Limpar pesquisa
        #categorias-galeria.d-flex.flex-row
            #categoria-anterior
            #categoria-principal
                .row
                    include categoria
            #categoria-seguinte
block modal
    #visualizar-video.modal(tabindex='-1', role='dialog')
    script(type='text/javascript', src='/javascripts/galeria.js')