.form-group#insert-video
    .form-group
        .input-group.mb-3.input-group-sm
            input#insert-video-link.form-control.form-control-sm.send-link(type="text" placeholder="Inserir link do vídeo")
            .invalid-feedback="Link inválido"
            .input-group-append
                span.input-group-text 
                    i#insert-video-btn.fas.fa-plus
    #video-preview.col-12
        .row
            .col-4
                img#insert-video-thumb
            .col-8
                form#insert-video-form(method='POST' action='/videos')
                    .form-group
                        .input-group
                            input#insert-video-name.form-control.form-control-sm(type="text" name="autor" placeholder="Autor")
                            .invalid-feedback="Campo obrigatório"
                            .input-group-append
                                i.input-group-text *
                    .form-group                    
                        .input-group
                            input#insert-video-title.form-control.form-control-sm(type="text" name="titulo" placeholder="Título")
                            .invalid-feedback="Campo obrigatório"
                            .input-group-append
                                i.input-group-text *
                    .form-group
                        .input-group
                            input#insert-video-desc.form-control.form-control-sm(type="text" name="descricao" placeholder="Descrição")
                            .invalid-feedback="Campo obrigatório"
                            .input-group-append
                                i.input-group-text *
                    .form-group
                        .input-group
                            input#select-cidade(type='text' name='cidade' placeholder="Digite a cidade").form-control.form-control-sm
                            .invalid-feedback="Campo obrigatório"
                            .input-group-append
                                i.input-group-text *
                    .form-group
                        .input-group
                            input#select-escola(type='text' name='escola' placeholder="Digite a escola" readonly).form-control.form-control-sm
                            .invalid-feedback="Campo obrigatório"
                            .input-group-append
                                i.input-group-text *
                    input#escola-id(type='hidden' name='escola_id')
                    input#cidade-id(type='hidden' name='cidade_id')
                    .form-group                    
                        .input-group
                            select(type='text' name='categoria_id')#select-categoria.form-control.form-control.sm
                                option(value="0")="Categoria"
                                if categorias
                                    each categoria in categorias 
                                        option(value=categoria.id) #{categoria.descricao}
                            .invalid-feedback="Campo obrigatório"
                            .input-group-append
                                i.input-group-text *
                    input#insert-video-url(type="hidden", name='url')
                    input#insert-video-img(type="hidden", name='thumb')
                    button#insert-video-add.form-control.form-control-sm Adicionar
                    button#insert-video-cancel.form-control.form-control-sm Cancelar
