.modal-dialog.modal-lg
    .modal-content
        .modal-header
            h5.modal-title=video.titulo
            button.close(type='button',data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
        .modal-body
            iframe(type='text/html' width='100%' src=encodeURI(video.url) controls='' frameborder='0')
            if museu
                #trigger-play-video(data-video=video.url)
            div.views="Visualizações: "
                span=video.views
            p=video.descricao