.modal-dialog.modal-lg
    .modal-content
        .modal-header
            h5.modal-title=video.titulo
            button.close(type='button',data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
        .modal-body.d-flex.flex-column
            if museu
                #trigger-play-video.video(data-video=video.url, style="background-image: url("+video.thumb+")")
                    #trigger-play-video-overlay
                    i.fas.fa-play
            else    
                iframe(type='text/html' width='100%' src=encodeURI(video.url) controls='' frameborder='0')
            div#info
                p#visualizacoes="Visualizações: "
                    span=video.views
                p#descricao=video.descricao