.modal-dialog.modal-lg(role='document')
    .modal-content
        .modal-header
            h5.modal-title=video.titulo ? video.titulo : "Título do vídeo"
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
        .modal-body
            iframe(type='text/html' width='100%' height='400px' src=video.url controls='' frameborder='0')
            div.views="Visualizações: "
                span=video.views
            p=video.descricao ? video.descricao : "Quisque interdum augue eget augue feugiat porttitor. Curabitur id congue orci. Ut sed purus vitae mi convallis euismod. Proin vel nibh libero. Maecenas cursus risus at ultricies iaculis."
